.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2000;
};

.blurry-grid {
  filter: blur(4px)
}


// ================ Form Controls ======
#dropdown-label {
  position: static;
  transform: none;
  margin-bottom: 5px;
  margin-left: 10px;
}

#dropdown-label:not(.Mui-error) {
  color: #000
}

.dropdown-indicator {
  transition: all .3s ease-out;
}

.upper-indicator {
  transform: rotate(180deg),
}

// ============ Label And Value =========
.labelAndValue {
  background-color: #edededcc;
  padding: 8px;
  min-height: auto;
  box-sizing: border-box;
}

.labelAndValueLabel {
  color: #9aa1a9;
  font-size: 13px
}

.labelAndValueValue {
  font-weight: bold;
  font-size: 17px
}